body{
    font-family: calibri;
}
.gray-area {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    min-height: 150px;
}

table {
    font-size: 12px;
}

th {
    font-weight: 600;
    white-space: nowrap;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
}

.card-bg {
    background-color: #e6e6e6;
}

.suggestion-box {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.suggestion {
    padding: 8px;
    cursor: pointer;
}

.suggestion:hover {
    background: #f0f0f0;
}
.logo{
    width: 150px;
}
table .btn{
    font-size: 9px !important;
    padding: 2px 6px !important;
}
input{
    border: 1px solid rgb(149, 199, 255) !important;
}
.served-by-options {
    display: flex;
    gap: 10px;
    margin-top: 5px;
  }

  /* Hide the default radio button */
  .radio-input {
    display: none;
  }

  /* Style the label to look like buttons */
  .served-by-options .btn {
    border: none;
    border-radius: 5px;
    padding: 2px 15px;
    text-align: center;
    cursor: pointer;
    background-color: #d3d3d3; /* Default gray background */
    color: #000;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  /* Highlight the label when its radio button is selected */
  .radio-input:checked + .btn {
    background-color: #90ee90; /* Light green background */
    color: #000; /* Text color */
  }

@media only screen and (max-width:600px){
    .col-md-4,
    .col-md-2,
    .col-md-3,
    .col-6,
    .col-12
    {
        margin-top: 5px !important;
    }
    .form-label{
        margin-bottom: 0px;
        font-size: 12px !important;
    }
    .card-body{
        padding: 10px 5px !important;
    }
    input{
        font-size: 13px !important;
    }
    .topy-2{
        margin-top: 17px !important;
    }
    .logo{
        width: 80px;
    }
    .logo img{
        height: 30px;
    }
}